<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.APPmovil"
        tools:targetApi="31">

        <!-- Actividad de inicio de sesión que será la primera en abrir -->
        <activity
            android:name=".InicioSesion"
            android:exported="true"
            android:label="@string/app_name"
            android:theme="@style/Theme.APPmovil.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- Otras actividades -->
        <activity android:name=".SolicitarAumentoCredito" />
        <activity android:name=".ConsultaCompra" />
        <activity android:name=".ConsultaCredito" />
        <activity android:name=".PagosVencidos" />
        <activity android:name=".RegistroActivity" />
        <activity android:name=".ProximoPago" />
        <activity android:name=".FechaCorte" />

        <activity
            android:name=".MainActivity"
            android:theme="@style/Theme.APPmovil.NoActionBar" />


    </application>

</manifest>
